<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lỗi</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="home-container">
    <h2>Đã có lỗi xảy ra</h2>
    <p class="error-msg" th:text="${errorMessage}"></p>
    <p><a th:href="@{/}">Về trang chủ</a></p>
</div>
</body>
</html>
git